<head>
  {% load static %}
  <link rel="stylesheet", href="{% static 'suggestions/css/list_form.css' %}">
  <script src="{% static 'suggestions/css/list_form.js' %}"></script>
</head>

{% include "sidebar.html" %} 




<hr> 

{% comment %} <h2>今日のToDo追加</h2>
<form method="post">
  {% csrf_token %}
  <input type="text" name="task" placeholder="新しいタスク">
  <button type="submit" name="submit_list">タスク追加</button>
</form>  {% endcomment %}



<h2>必須アイテム入力フォーム</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  {{ task_formset.management_form }}
  {% for form in task_formset %}
    {{ form.as_p }}
  {% endfor %} 
  {{ task_formset.as_p }} 
  <button type="submit" name="submit_list">リスト送信</button>
</form> 