<main>
  <head>
    {% load static %}
    <link rel="stylesheet", href="{% static 'logs/css/style.css' %}">
    <script src="{% static 'logs/js/script.js' %}"></script>
  </head>
    {% include "sidebar.html" %} 
    <section class="confirm_will_forget">
      {% comment %} ２回目の入力に忘れ物をしたかを聞く機能 {% endcomment %}
      {% if last_log and last_log.will_forget == None %}
      <a href="{% url 'logs:log_form_edit' last_log.id%}">TO LogForm</a>
      {% else %}
      <a href="{% url 'logs:log_form' %}">TO LogForm</a>
      {% endif %}
      {% comment %} 予測結果があるかを表している項目 {% endcomment %}
      {% if last_log.will_forget %}
        <p>今日は入力済み！</p>
      {% else %}
        <p>まだ今日は入力されていない！</p>
      {% endif %}
    </section>
    <section class="Note_forget_item">
      {% comment %} 忘れ物をする確率を５０％を超えた際に、持っていくべきものをTo Doまで自動で落とし込む {% endcomment %}
      {% if prediction and prediction > 0.5 %}
      <form action="{% url 'suggestions:list_form' %}" method="post">
        {% csrf_token %}
        <button type="submit">明日持つべきものをCHECK!</button>
      </form>
      {% endif %}
    </section>
    {% comment %} 予測結果の表示を行う {% endcomment %}
    <section class="show_prediction">
      <table class="table">
        <th>
        {% if prediction is not None %}
          <h2>予測結果: {{ prediction }}%</h2>
        {% else %}
        {% endif %}
        </th>
      </table>
    </section>
    <section class="to_do_list">
      <h1>今日のやるべきこと</h1>


      {% if suggestions_today %}
      <ul>
        {% for suggestion in suggestions_today %}
            <li>
          {{ suggestion.task }}<br>

            </li>
        {% endfor %}
        </ul>
      {% else %}
        <p>今日のやるべきことはありません。</p>
      {% endif %}


      {% if suggestions %}
      <ul>
        {% for suggestion in suggestions %}
            <li>
          {{ suggestion.task }}<br>

            </li>
        {% endfor %}
        </ul>
      {% else %}
        <p>昨日のやるべきことはありません。</p>
      {% endif %}

    </section>
</main>
