<head>
  {% load static %}
  <link rel="stylesheet", href="{% static 'logs/css/index.css' %}">
  <script src="{% static 'logs/js/index.js' %}"></script>
</head>
<main>
    <header>
      {% include "sidebar.html" %}
    </header>
    <body>
    <section class="confirm_will_forget">
      
        {% comment %} ２回目の入力に忘れ物をしたかを聞く機能 {% endcomment %}
        {% if last_log and last_log.will_forget == None %}
          <a href="{% url 'logs:log_form_edit' last_log.id%}">昨日はわすれものしました？</a>
        {% else %}
          <a href="{% url 'logs:log_form' %}">TO LogForm</a>
        {% endif %}
        {% comment %} 予測結果があるかを表している項目 {% endcomment %}
        {% if last_log.will_forget %}
          <p>あなたの確率は！</p>
        {% else %}
          <p>あなたの今日の確率を知ろう！</p>
        {% endif %}
    </section>
    {% comment %} 予測結果の表示を行う {% endcomment %}
    <section class="show_prediction">
          <table class="table">
            <th>
            {% if prediction is not None %}
              <h2>予測結果: {{ prediction }}%</h2>
            {% else %}
            {% endif %}
            </th>
          </table>
    </section>
    <section class="note_forget_item">
      {% comment %} 忘れ物をする確率を５０％を超えた際に、持っていくべきものをTo Doまで自動で落とし込む {% endcomment %}
      {% if prediction and prediction > 0.5 %}
      <form action="{% url 'suggestions:show' list_id=today_list.id%}" method="post">
        {% csrf_token %}
        <button type="submit">明日持つべきものをCHECK!</button>
      </form>
      {% endif %}
    </section>
    <section class="to_do_list">
      <h1>今日のやるべきこと</h1>
      {% comment %} {% if suggestions_today %}
      <ul>
        {% for suggestion in suggestions_today %}
            <li>
          {{ suggestion.task }}<br>

            </li>
        {% endfor %}
        </ul>
      {% else %}
        <p>今日のやるべきことはありません。</p>
      {% endif %} {% endcomment %}

      {% comment %}  {% endcomment %}
      {% if tasks %}
      <ul>
        {% for suggestion in tasks %}
          <form action="{% url "suggestions:delete" item_id=suggestion.id %}"  method="post">
            {{ suggestion.task }}
            {% csrf_token %}
            <button type="submit">削除</button>
          </form>
        {% endfor %}
        </ul>
      {% else %}
        <p>今日のやるべきことはありません。</p>
      {% endif %}

      {% comment %}  {% endcomment %}

      {% comment %} {% if suggestions %}
      <ul>
        {% for suggestion in suggestions %}
            <li>
          {{ suggestion.task }}<br>
            </li>
        {% endfor %}
        </ul>
      {% else %}
        <p>昨日のやるべきことはありません。</p>
      {% endif %}  {% endcomment %}

      {% if yesterday_list %}
      <ul>
        {% for suggestion in yesterday_item %}
            <li>
          {{ suggestion.task }}<br>
            </li>
        {% endfor %}
        </ul>
      {% else %}
        <p>昨日のやるべきことはありません。</p>
      {% endif %} 





    </section>
    </body>

    <footer>
    </footer>

</main>



{% comment %} タスクを追加出来るタブ作成 {% endcomment %}
  <form method="post">
      {% csrf_token %}
      <label for="new_task">新しいタスク:</label>
      <input type="text" name="new_task" id="new_task" required>
      <button type="submit">タスクを追加</button>
  </form>